.combo-box-popup .list-view {
    -fx-background-color: #fef9db;
    -fx-border-radius: 10px;
}

.button:hover{
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #fef9db;
    -fx-text-fill: #388e3c;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(56, 142, 60, 0.09); /* leggerissimo verde trasparente */
    -fx-text-fill: #388e3c;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #c8e6c9;
    -fx-text-fill: #1b5e20;
}


/*
Sidebar
 */

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* Stato selezionato/attivo */
.menu-item.selected {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 8;
}

/* Testo normale */
.menu-label {
    -fx-font-size: 13px;
    -fx-text-fill: #222;
}

/* Testo selezionato */
.menu-label.selected {
    -fx-font-weight: bold;
}